@import "../../shared/Variables.scss";

.modalWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6b7280bf;
  justify-content: center;
  align-items: center;
  z-index: 5;

  .moreInfoCard {
    position: relative;
    min-height: 312px;
    width: 60%;
    height: 80%;
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0px 10px 10px -5px #0000000a;
    box-shadow: 0px 20px 25px -5px #0000001a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    box-sizing: border-box;

    button {
      background-color: $color-red;
      color: $color-white;
      width: 50%;
      padding: 20px;
      border-radius: 50px;
      @include adaptiv-font(40, 16);
      border: 3px solid $color-red;
      transition: all 0.5s ease;

      svg {
        width: 10%;
      }
    }
    button:hover {
      border-radius: 0;
      color: $color-black;
      background-color: inherit;
      border: 3px solid $color-red;
    }
  }
}

.modalWindow.show {
  display: flex;
}

@media screen and (max-width: 800px) {
  .modalWindow {
    .content {
      width: 90%;
      height: 80%;
    }
  }
}
