@import "../../shared/Variables.scss";
@import "../../shared/Animations.scss";

.skills {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 80%;
    justify-items: center;
    align-items: center;
  }
}


@media screen and (min-width: 801px) {
  .skills {
    section {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}