@import "../../shared/Variables.scss";

.menu {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  overflow: auto;
  background-color: rgba(28, 28, 40, 0.9);
  @include adaptiv-font(40, 16);

  title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Dudka";
      color: $color-red;
      @include adaptiv-font(112, 64);
    }
    button {
      background-color: inherit;
      height: 50%;

      svg {
        height: 100%;
      }
    }
  }
  ul {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 1rem;
    li {
      list-style-type: none;
      @include adaptiv-font(48, 24);
      padding-top: 1rem;

      a {
        display: flex;
        align-items: center;
        color: $color-white;
        gap: 5%;

        svg {
          width: 15%;
        }
      }
      .active {
        color: $color-red;

        svg {
          fill: $color-red;
        }
      }
    }
  }
}

.menu.show {
  display: flex;
}

@media screen and (min-width: 769px) {
  .menu.show {
    width: 25%;
    padding: 40px 20px;
  }
}
