@import "../../../shared/Variables.scss";

.tooltip-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 15%;

  .tooltip {
    position: absolute;
    left: 85%;
    border-radius: 2rem;
    background-color: $color-gray;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    border: 2px solid $color-white;
    z-index: 2;
    @include adaptiv-font(24, 8);
  }
}
