@import "../shared/Variables.scss";
@import "../shared/Animations.scss";

@font-face {
  font-family: Comfortaa;
  src: url("../assets/fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dudka";
  src: url("../assets/fonts/Dudka/Dudka Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  @include adaptiv-font(64, 24);
}
p {
  @include adaptiv-font(40, 16);
}
button,
input,
textarea {
  all: unset;
}
button {
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
}
::-webkit-scrollbar {
  width: 0;
}
svg {
  fill: $color-white;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: $color-black;
  color: $color-white;
  font-family: "Comfortaa";

  #root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {
  body {
    height: 100vh;

    #root {
      flex-direction: row;
      height: 100%;
    }
  }
}
