@import "../../shared/Variables.scss";
@import "../../shared/Animations.scss";

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $color-white;

  svg {
    fill: $color-white;
    width: 60%;
    height: 60%;
    transition: all 0.5s ease;
  }
  svg:hover {
    transform: scale(1.2);
    fill: $color-red;
    cursor: pointer;
  }
}

.skill:hover {
  cursor: default;
  color: $color-white;
}
