@import "../../shared/Variables.scss";
@import "../../shared/Animations.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid $color-white;
  width: 70%;
  min-width: 210px;
  padding: 20px;

  .myPhoto {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .bio {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    height: 25%;
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(10px);
    font-weight: 700;
    text-shadow: 5px 5px 5px $color-black;

    h1 {
      @include adaptiv-font(64, 24);
    }
    h2 {
      animation: pulse 2s infinite;
      @include adaptiv-font(40, 16);
    }
  }
}

@media screen and (min-width: 801px) {
  .card {
    border-radius: 200px 50px 50px 50px;
    width: auto;
    height: 80%;

    .myPhoto {
      border-radius: 180px 40px 40px 40px;
    }
    .bio {
      border-radius: 0 0 40px 40px;
    }
  }
}
