@import "../../../../shared/Variables.scss";
@import "../../../../shared/Animations.scss";

.portfolio {
  overflow-y: auto;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .portfolio {
    section {
      flex-direction: row;

      .left,
      .right {
        width: 50%;
      }
    }
  }
}
